*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #0c0c17;
}

.container{
    width: 95%;
    height: 95vh;

    margin: auto;
    margin-top: 10px;

    display: flex;

    background-color: white;
}

/* LADO ESQUERDO */

.left-side{
    width: 62%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 320px;
}

/* LADO DIREITO */

.right-side{
    width: 38%;

    background-color: #006d8f;

    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-box{
    width: 80%;

    text-align: center;
}

.confirm-box h1{
    color: white;

    font-size: 58px;
    font-weight: 700;

    margin-bottom: 35px;
}

/* TEXTO */

.text{
    color: white;

    font-size: 16px;
    font-weight: 500;

    line-height: 1.6;

    margin-bottom: 35px;
}

/* INPUTS DO CÓDIGO */

.code-inputs{
    display: flex;
    justify-content: center;
    gap: 14px;

    margin-bottom: 10px;
}

.code-inputs input{
    width: 55px;
    height: 55px;

    border: none;
    border-radius: 15px;

    background-color: white;

    text-align: center;

    font-size: 22px;
    outline: none;
}

/* REENVIAR */

.resend{
    display: block;

    text-align: right;

    color: #00d5ff;

    margin-bottom: 35px;

    font-size: 14px;
}

/* BOTÃO */

button{
    width: 65%;

    padding: 14px;

    border: none;
    border-radius: 30px;

    background-color: #00a8e8;

    color: white;

    font-size: 18px;
    font-weight: 700;

    cursor: pointer;

    transition: 0.3s;
}

button:hover{
    background-color: #0095cf;
}

/* LOGIN */

.login-link{
    margin-top: 40px;
    padding-top: 18px;

    border-top: 1px solid rgba(255,255,255,0.2);
}

.login-link p{
    color: white;
    font-size: 15px;
}

.login-link a{
    color: #00d5ff;
    text-decoration: none;
}

/* RESPONSIVO */

@media(max-width: 900px){

    .container{
        flex-direction: column;
        height: auto;
    }

    .left-side,
    .right-side{
        width: 100%;
    }

    .left-side{
        height: 40vh;
    }

    .right-side{
        padding: 40px 0;
    }

    .logo{
        width: 220px;
    }

    .confirm-box h1{
        font-size: 42px;
    }

    .code-inputs{
        gap: 8px;
    }

    .code-inputs input{
        width: 45px;
        height: 45px;
    }
}